.Container{
    background-color: #000000;
    padding: 70px 0px !important;
    display: flex;
    justify-content: center;
}
.ContainerMiddle{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

