.footer {
    padding-top: 30px !important;
    padding-bottom: 50px !important;
    background-color: #1c1c1c !important;
}
.footerInner{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.footerHeading{
    font-size: 28px !important;
    font-family: "Playfair Display", serif !important;
    color: #bdbdbd !important;
    font-weight: normal !important;
}
.headingBorder{
    padding-bottom: 25px !important;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    max-width: 130px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.Ul{
    margin-inline-start: 0 !important;
}
.Ul li{
    list-style: none;
}
.Ul li a{
    margin-bottom: 2px !important;
    display: inline-block !important;
    font-size: 13px !important;
    font-family: "Poppins", sans-serif !important;
}
.footerBottom{
    padding: 25px 15px;
    background-color: #ffffff;
}
.footerBottomInner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}