.footer {
    background: #14161c;
    position: relative;
}
.footerBottom {
    position: relative;
    padding: 28px 0px;
    background: #0d0e12;
}
.autoContainer{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    color: #ffffff;
}
.list li{
    text-decoration: none;
    list-style: none;
}
.bottomFooter{
    background-color: #000000;
    font-family: calibri;
    padding: 20px 10px;
}