.footer {
    background: #14161c;
    position: relative;
}
.footerBottom {
    position: relative;
    padding: 28px 0px;
    background: #0d0e12;
}
.autoContainer{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    color: #ffffff;
}