.mainContainer{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}
.cardHeading{
    font-size: 28px !important;
    font-family: 'Playfair Display', serif !important;
    color: #000 !important;
    font-weight: 500 !important;
    line-height: 1.1 !important;
}
.cardDescription{
    font-size: 14px !important;
    color: gray !important;
    line-height: 1.5;
    font-weight: 400;
}
.ulList{
    font-size: 14px !important;
    color: gray !important;
    line-height: 1.5;
    font-weight: 400;
}
.ulList ul {

}
.ulList ul li{
    margin-bottom: 10px;
    line-height: 26px;
}
.listHeading{
    color: #3a3a3a;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    line-height: 1.1 !important;
    margin-bottom: 3px;
    margin-top: 10px;
}