.spacer{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: auto;
    max-width: 1170px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.spacerInner{
    display: flex;
    justify-content: space-between;
}
.spacerInnerLeft{
    width: 35%;
}
.spacerInnerRight{
    width: 60%;
    flex-direction: row;
    text-align: left;
    color: rgb(62, 71, 79);
    font-style: normal;
    font-weight: 400;
    margin: 0px;
    text-shadow: none;
    line-height: 44px;
    display: block;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif !important;
}
.headingTagline{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    position: relative !important;
    z-index: 0 !important;
    letter-spacing: -0.01em !important;
    margin: 0px 0px 15px !important;
    color: rgb(124, 129, 135) !important;
    text-align: left !important;
    opacity: 1 !important;
}
.headingSubHeading{
    font-weight: 600 !important;
    font-size: 48px !important;
    line-height: 66px !important;
    letter-spacing: -0.02em !important;
    color: rgb(27, 24, 49) !important;
    text-align: left !important;
    font-family: 'Poppins', sans-serif !important;
    margin: 0px !important;
}